body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: black;
}

#game-board {
  background-color: rgb(21, 147, 215);
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

#tool-box {
  margin-left: 50px;
  background-color: rgb(204, 204, 204);
  width: 20vmin;
  height: 80vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tree {
  background: url("/assets/images/css_sprites.png") -110px -110px;
}

.leaves {
  background: url("/assets/images/css_sprites.png") -210px -10px;
}

.rock {
  background: url("/assets/images/css_sprites.png") -10px -110px;
}

.ground {
  background: url("/assets/images/css_sprites.png") -110px -10px;
}

.grass {
  background: url("/assets/images/css_sprites.png") -10px -10px;
}
.cloud {
  background-color: rgb(255, 255, 255);
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tool {
  margin: 1rem;
}
.pickaxe {
  background: url("/assets/images/toolsH.png") no-repeat -87px -392px;
  background-size: 458px 739px;
  width: 90px;
  height: 144px;
}
.axe {
  background: url("/assets/images/toolsH.png") no-repeat 0 -394px;
  background-size: 458px 739px;
  width: 70px;
  height: 142px;
}
.shovel {
  background: url("/assets/images/toolsH.png") no-repeat -297px -385px;
  background-size: 458px 739px;
  width: 57px;
  height: 151px;
}

/* .inventory {
  
} */

.inventory > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.inventory > ul > li {
  position: relative;
  margin: 0.5rem 0;
  width: 70px;
  height: 70px;
  border: 2px solid black;
}
.inventory > ul > li > span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  width: 1rem;
  height: 1.3rem;
}

.picked-tool {
  background-color: rgb(23, 27, 226);
}
