* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: black;
}

#game-board {
  background-color: rgb(21, 147, 215);
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
  cursor: url("assets/images/smallSteve.png"), auto;
}

#tool-box {
  margin-left: 50px;
  background-color: rgb(21, 147, 215);
  width: 20vmin;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tree {
  background: url("/assets/images/matreials/wood.png") 0 0 / cover no-repeat;
}

.leaves {
  background: url("/assets/images/matreials/leaves.png") 0 0 / cover no-repeat;
}

.rock {
  background: url("/assets/images/matreials/rock.png") 0 0 / cover no-repeat;
}

.ground {
  background: url("/assets/images/matreials/ground.png") 0 0 / cover no-repeat;
}

.grass {
  background: url("/assets/images/matreials/grass.png") 0 0 / cover no-repeat;
}
.cloud {
  background-color: rgb(255, 255, 255);
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tool {
  margin: 1rem;
  background: 1px solid transparent;
}
.pickaxe {
  background: url("assets/images/tools.png") no-repeat 0 -168px;
  width: 52px;
  height: 52px;
}

.axe {
  background: url("assets/images/tools.png") no-repeat -192px -164px;
  width: 48px;
  height: 56px;
}
.shovel {
  background: url("assets/images/tools.png") no-repeat -64px -168px;
  width: 52px;
  height: 52px;
}

.inventory > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.inventory > ul > li {
  position: relative;
  margin: 0.5rem 0;
  width: 50px;
  height: 50px;
  border: 2px solid black;
}
.inventory > ul > li > span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  width: 0.9rem;
  height: 0.9rem;
  font-size: 0.8rem;
}

.picked-tool {
  border: 3px solid rgb(216, 27, 27) !important;
}
