* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: black;
}

#splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url(/assets/images/bgImage.png) no-repeat center center / cover;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}

#splash-screen h2 {
  font-size: 6rem;
  color: #8b8b8b;
  -webkit-text-stroke: 1px black;
  margin: 3rem;
}

#game-board {
  background-color: #8cafff;
  width: 110vmin;
  height: 100vmin;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
  cursor: url("/assets/images/smallSteve.png"), auto;
}

.side {
  margin: 0 3vmin;
  background-color: #c6c6c6;
  width: 20vmin;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn {
  height: 7vmin;
  width: 10vmin;
  font-size: 1.2rem;
  background-color: #8b8b8b;
  box-shadow: 0px 0px 0px 4px #a0a0a0, inset 0px 10px 2px -8px #141414, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  cursor: pointer;
}
.tree {
  background: url("/assets/images/matreials/wood.png") 0 0 / cover no-repeat;
}

.leaves {
  background: url("/assets/images/matreials/leaves.png") 0 0 / cover no-repeat;
}

.rock {
  background: url("/assets/images/matreials/rock.png") 0 0 / cover no-repeat;
}

.ground {
  background: url("/assets/images/matreials/ground.png") 0 0 / cover no-repeat;
}

.grass {
  background: url("/assets/images/matreials/grass.png") 0 0 / cover no-repeat;
}
.cloud {
  background-color: rgb(255, 255, 255);
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tool {
  background: 3px solid transparent;
  height: 16.5vmin;
  width: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 0.5rem;
  border: 2px solid transparent;
  background-color: #8b8b8b;
  box-shadow: 0px 0px 0px 2px #a0a0a0, inset 0px 10px 27px -8px #141414, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.img {
  height: 9vmin;
  width: 7vmin;
  margin: 1rem 0;
  pointer-events: none;
}
.shovel-img {
  background: url("/assets/images/tools/shovel.png") center center / cover no-repeat;
}

.axe-img {
  background: url("/assets/images/tools/axe.png") center center / cover no-repeat;
}

.pickaxe-img {
  background: url("/assets/images/tools/pickaxe.png") center center / cover no-repeat;
}

.inventory > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.inventory > ul > li {
  position: relative;
  margin: 0.5rem 0;
  width: 6vmin;
  height: 6vmin;
  border: 2px solid transparent;
  box-shadow: 0px 0px 0px 2px #a0a0a0, inset 0px 10px 27px -8px #141414, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.inventory > ul > li > span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  width: 0.9rem;
  height: 0.9rem;
  font-size: 0.8rem;
}

.picked-tool {
  box-shadow: 0px 0px 0px 2px red, inset 0px 10px 27px -8px #141414, 5px 5px 15px 5px rgba(0, 0, 0, 0) !important;
}

#hidden {
  display: none;
}
/* animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
